<div class="container">
	<div class="row">
		<h1>About Me</h1>
		<div class="col-md-12">
			<p>
I grew up in the Chicago suburbs of Illinois.  I began my career as a mathematics teacher after finding a love for problem solving.  After teaching for three years in Illinois, I took a huge leap of faith and moved to Colorado.  I immediately felt like home here.  Not long after, I met my husband while teaching.  It turned out that he moved to Colorado from Illinois as well (he actually grew up in the same town I attended college- small world)!  After teaching for three additional years in Colorado, I decided I needed a change - more of a challenge. <br/><br/>

Reluctant to take out a student loan, I began teaching myself how to program in java.  I could not believe how much fun I had!  I knew instantly that this was the career path for me.  I landed a job at the State Capitol as an Associate Application Developer where I am currently employed.  I am learning so many things in this career- including four new languages within my first year of employement.  <br/><br/>

Within that whole whirl-wind of a career path, I am finding myself gravitating towards web design.  It is the perfect marriage of my creative/artistic side and my logical/nerdy side.<br/><br/>

Outside of programming, I am a pretty outgoing, active individual.  I love running and competing in local races.  I am a member of the 2015 Runner's Roost Road race team.  I also absolutely LOVE dogs.  We have a sweet yellow lab named "Arthur" at home.  <br/><br/>

I would love to help you out with whatever projects you need.  I consider this a hobby, only because I cannot believe I get paid to do it for a living!  It really is the perfect career for me.  Thank you for visiting my page!

			</p>
		</div>
	</div>

</div>