<div class="container">
	
	<div class="row">
		<div class="col-md-4">
			<h2>Responsive Website</h2>
			<p>A responsive website is one that looks great on any device.  This is incredibly important considering the amount of people who are accessing websites on their phones and tablets now!  In order to give your customers, users, and/or friends a great experience when they visit your site, responsiveness is incredibly important!
			</p>
		</div>
		<div class="col-md-4">
			<h2>New Technologies</h2>
			<p>I stay up to date on the latest technologies in order to provide the best available product.  I am focusing on single page applications because it gives the user the best experience possible.  Instead of seeing a whole page refresh, you only refresh the part of the screen that is needed.  This gives a more native application feel, and more pleasant experience overall.</p>
		</div>
		<div class="col-md-4">
			<h2>Competitive Analysis</h2>
			<p>One important piece to creating a website is to be familiar with similar websites that already exist.  This is the purpose of a competitive analysis.  I can find sites that are similar, or ones that you love, and we can pick the great pieces from each and incorporate them into a beautiful end product.</p>
		</div>
	</div>
</div>
	

	


